html {
    box-sizing: border-box;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 24px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.x {
    background-color: rgb(229, 160, 160);
}

.o {
    background-color: rgb(181, 181, 233);
}

.occuped {
    
}

#result {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

#board {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: grid;
    gap: 5px;
    grid-template-columns: 40px 40px 40px;
}

.non-displied {
    display: none;
}

#button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.fieldElement {
    height: 40px;
    width: 40px;
}
